<!DOCTYPE html>
<html lang="es">
<head>
    <title>Consulta</title>
    <%- include('./templates/head.ejs') %>
</head>
<body>
    <%- include('./templates/header-nav.ejs') %>
    
    <main class="contenedor sombras" style="max-width: 120rem;">
        <a href="/" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i></a>
        
        <table class="table table-bordered table-striped text-center mt-4">
            <thead>
                <tr class="bg-warning text-white">
                    <th>ID <a href="/consulta"><i class='bx bx-caret-down-circle'></i></a></th>
                    <th>Nombre</th>
                    <th><a href="/consulta/<%= 'apellido' %>" class="td-none">Apellido<i class='bx bx-caret-down-circle'></i></a></th>
                    <th><a  href="/consulta/<%= 'dni' %>"class="td-none">DNI <i class='bx bx-caret-down-circle'></i></a></th>
                    <th>Fecha Nacimiento</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Domicilio</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <% if(resultados.length === 0){ %>
                    <tr>
                        <td><strong>Aun no hay alumnos cargados!!</strong></td>
                    </tr>
               <% }else { %>
                <% resultados.forEach((alumno)=>{ %>
                <tr>
                    <td ><%= alumno.idalumnos %></td>
                    <td class="capitalize"><%= alumno.nombre %></td>
                    <td class="capitalize"><%= alumno.apellido %></td>
                    <td><%= alumno.dni %></td>
                    <td><%= alumno.fecha_nac.toLocaleDateString() %></td>
                    <td><%= alumno.telefono %></td>
                    <td><%= alumno.email %></td>
                    <td class="capitalize"><%= alumno.domicilio %></td>
                    <td><%= alumno.observaciones %></td>
                    <td>
                        <a href="/modifica/<%= alumno.idalumnos %>" class="btn btn-outline-info">editar</a>
                        <a href="/elimina/<%= alumno.idalumnos %>" class="btn btn-outline-danger">borrar</a>
                    </td>
                </tr>
               <% })} %>
            </tbody>
        </table>

    </main>

    <%- include('./templates/footer.ejs') %>
    <!-- <%- include('./templates/scripts.ejs') %> -->
</body>
</html>