<!DOCTYPE html>
<html lang="es">
<head>
    <title>Modifica</title>
    <%- include('./templates/head.ejs') %>

    <link rel="stylesheet" href="../dist/css/main.css">
</head>
<body>
    <%- include('./templates/header-nav.ejs') %>

    <main class="contenedor sombras">         
        <% if(alumno){ %> 
        <section>
            <h2 class="titulo mgb-2">Cambie Campos en el Formulario</h2>
            <!-- <% if(typeof muestra !== "undefined"){ let fondo = (muestra.includes('Ya')) ? 'alerta' : 'acepta'; %> 
				<p class="contenedor centrar-texto <%= fondo %>">
					<%= muestra %>
				</p>
			<% } %> -->

            <form class="formulario" action="/actualizar" method="post" enctype="text/html">
                <fieldset>
                    <legend>Modificar Alumno Cargado</legend>
                    <div class="formulario-campos">	
                        <div class="campo">
                            <label for="nombre">Nombre:</label>
                            <input class="input capitalize" type="text" name="nombre" id="nombre" value="<%= alumno.nombre %>" pattern="\D+\s?\D*\s?\D*" minlength="3" maxlength="35" required>
                        </div>
    
                        <div class="campo">
                            <label for="apellido">Apellido/s:</label>
                            <input class="input capitalize" type="text" name="apellido" id="apellido" value="<%= alumno.apellido %>" pattern="\D+\s?\D*\s?\D*" minlength="3" maxlength="35" required>
                        </div>
    
                        <div class="campo">
                            <label for="dni">DNI:</label>
                            <input class="input" type="text" name="dni" id="dni" value="<%= alumno.dni %>" pattern="\d{7,10}" required >
                        </div>
    
                        <div class="campo">
                            <label for="fecha_nac">Fecha de Nacimiento:</label>
                            <input class="input" type="date" name="fecha_nac" id="fecha_nac" value="<%= `${alumno.fecha_nac.getFullYear()}-${(alumno.fecha_nac.getMonth()<10) ? `0${alumno.fecha_nac.getMonth()+1}` : alumno.fecha_nac.getMonth()+1 }-${(alumno.fecha_nac.getDate()<10) ? `0${alumno.fecha_nac.getDate()}`: alumno.fecha_nac.getDate()}` %>" min="1900-01-01" required >
                        </div>
    
                        <div class="campo">
                            <label for="telefono">Telefono:</label>
                            <input class="input" type="tel" name="telefono" id="telefono" value="<%= alumno.telefono %>" pattern="\d+\s?\d+-?\d+" minlength="8" maxlength="15" required>
                        </div>
    
            
                        <div class="campo">
                              <label for="email">Correo:</label>
                            <input class="input" type="email" name="email" id="email" value="<%= alumno.email %>" maxlength="30">
                        </div>
            
                        <div class="campo">
                            <label for="domicilio">Domicilio:</label>
                            <input class="input capitalize" type="text" name="domicilio" id="domicilio" value="<%= alumno.domicilio %>" minlength="3" maxlength="45" required>
                        </div>
    
                        <div class="campo">
                            <label for="observaciones">Observaciones:</label>
                            <textarea class="input" name="observaciones" id="observaciones" maxlength="140"><%= alumno.observaciones %></textarea>
                        </div>
                    </div>
                    
                    <div class="campo-grilla">
                        <div class="campo-grilla__radio">
                            <input type="radio" id="id" name="id" value="<%= alumno.idalumnos %>" checked >
                            <label for="id" class= >ID alumno: <%= alumno.idalumnos %> </label>
                        </div>
                        <div class="alinear-derecha flex">
                            <input class="boton w100" type="submit" value="Confirmar">
                            <a href="/consulta" class="boton w100">Cancelar</a>
                        </div>
                    </div>
    
                </fieldset>
            </form>
        </section>
        <% } %>
    </main>  

    <%- include('./templates/footer.ejs') %>
    <!-- <%- include('./templates/scripts.ejs') %> -->
</body>
</html>